operational_Integration/fabric/OSS_MonaConso_MHQ/Orchestration/Pipelines/MonaOnPrem_IncrementalLoad_TestingDeletes.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "Copy",
        "typeProperties": {
          "source": {
            "type": "DataWarehouseSource",
            "partitionOption": "None",
            "queryTimeout": "02:00:00",
            "datasetSettings": {
              "type": "DataWarehouseTable",
              "typeProperties": {
                "schema": "Test",
                "table": "V_DATA_CONSO"
              },
              "schema": [],
              "connectionSettings": {
                "name": "OSS_MonaConso_MHQ_Warehouse",
                "properties": {
                  "type": "DataWarehouse",
                  "typeProperties": {
                    "artifactId": "1c7cc4d3-d8ad-438c-97e7-ad43cec7c9d2",
                    "endpoint": "hm4kihleqcae3ljgp3reucweo4-k4fukxfyx7de7m2m437estqsye.datawarehouse.fabric.microsoft.com",
                    "workspaceId": "5c450b57-bfb8-4fc6-b34c-e6fe494e12c1"
                  },
                  "externalReferences": {
                    "connection": "d3fd0f81-8be0-46fa-9e13-fb5808f93ec0"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "sink": {
            "type": "DataWarehouseSink",
            "tableOption": "autoCreate",
            "preCopyScript": {
              "value": "@concat('DROP TABLE IF EXISTS ', pipeline().parameters.DestinationSchema, '.', pipeline().parameters.TableName, '__STG')",
              "type": "Expression"
            },
            "allowCopyCommand": true,
            "copyCommandSettings": {},
            "datasetSettings": {
              "type": "DataWarehouseTable",
              "typeProperties": {
                "schema": {
                  "value": "@pipeline().parameters.DestinationSchema",
                  "type": "Expression"
                },
                "table": {
                  "value": "@concat(pipeline().parameters.TableName, '__STG')",
                  "type": "Expression"
                }
              },
              "schema": [],
              "linkedService": {
                "name": "OSS_MonaConso_MHQ_Warehouse",
                "properties": {
                  "type": "DataWarehouse",
                  "typeProperties": {
                    "artifactId": "1c7cc4d3-d8ad-438c-97e7-ad43cec7c9d2",
                    "endpoint": "hm4kihleqcae3ljgp3reucweo4-k4fukxfyx7de7m2m437estqsye.datawarehouse.fabric.microsoft.com",
                    "workspaceId": "5c450b57-bfb8-4fc6-b34c-e6fe494e12c1"
                  },
                  "annotations": []
                }
              },
              "annotations": []
            }
          },
          "translator": {
            "type": "TabularTranslator",
            "typeConversion": true,
            "typeConversionSettings": {
              "allowDataTruncation": true,
              "treatBooleanAsNumber": false
            }
          },
          "enableStaging": true
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Incremental Copy to STG",
        "dependsOn": [
          {
            "activity": "Check if Table Exists",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Script",
        "typeProperties": {
          "scripts": [
            {
              "text": {
                "value": "@{activity('Generate HashKey Query').output.result.exitValue};",
                "type": "Expression"
              },
              "type": "Query"
            }
          ],
          "scriptBlockExecutionTimeout": "02:00:00"
        },
        "linkedService": {
          "name": "OSS_MonaConso_MHQ_Warehouse",
          "properties": {
            "type": "DataWarehouse",
            "typeProperties": {
              "artifactId": "1c7cc4d3-d8ad-438c-97e7-ad43cec7c9d2",
              "endpoint": "hm4kihleqcae3ljgp3reucweo4-k4fukxfyx7de7m2m437estqsye.datawarehouse.fabric.microsoft.com",
              "workspaceId": "5c450b57-bfb8-4fc6-b34c-e6fe494e12c1"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Run HashKey Query",
        "dependsOn": [
          {
            "activity": "Generate HashKey Query",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "297ae926-e902-8761-470c-1270a4a0ceee",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "db_table": {
              "value": {
                "value": "@concat(pipeline().parameters.DestinationSchema, '.', pipeline().parameters.TableName, '__STG')",
                "type": "Expression"
              },
              "type": "string"
            },
            "columns_raw": {
              "value": {
                "value": "@activity('LookUp hashing columns').output.resultSets[0].rows[0].ColumnList",
                "type": "Expression"
              },
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Generate HashKey Query",
        "dependsOn": [
          {
            "activity": "LookUp hashing columns",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Script",
        "typeProperties": {
          "scripts": [
            {
              "text": {
                "value": "SELECT STRING_AGG(COLUMN_NAME, ',') AS ColumnList\nFROM INFORMATION_SCHEMA.COLUMNS\nWHERE TABLE_SCHEMA = '@{pipeline().parameters.DestinationSchema}'\n  AND TABLE_NAME = '@{pipeline().parameters.TableName}__STG' \n AND COLUMN_NAME NOT LIKE '%ODS%'",
                "type": "Expression"
              },
              "type": "Query"
            }
          ],
          "scriptBlockExecutionTimeout": "02:00:00"
        },
        "linkedService": {
          "name": "OSS_MonaConso_MHQ_Warehouse",
          "properties": {
            "type": "DataWarehouse",
            "typeProperties": {
              "artifactId": "1c7cc4d3-d8ad-438c-97e7-ad43cec7c9d2",
              "endpoint": "hm4kihleqcae3ljgp3reucweo4-k4fukxfyx7de7m2m437estqsye.datawarehouse.fabric.microsoft.com",
              "workspaceId": "5c450b57-bfb8-4fc6-b34c-e6fe494e12c1"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "LookUp hashing columns",
        "dependsOn": [
          {
            "activity": "Incremental Copy to STG",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Script",
        "typeProperties": {
          "scripts": [
            {
              "text": {
                "value": "IF EXISTS (\n    SELECT 1\n    FROM INFORMATION_SCHEMA.TABLES\n    WHERE TABLE_SCHEMA = '@{pipeline().parameters.DestinationSchema}'\n      AND TABLE_NAME = '@{pipeline().parameters.TableName}__ODS' \n)\n    SELECT 1 AS TableExists;\nELSE\n    SELECT 0 AS TableExists;",
                "type": "Expression"
              },
              "type": "Query"
            }
          ],
          "scriptBlockExecutionTimeout": "02:00:00"
        },
        "linkedService": {
          "name": "OSS_MonaConso_MHQ_Warehouse",
          "properties": {
            "type": "DataWarehouse",
            "typeProperties": {
              "artifactId": "1c7cc4d3-d8ad-438c-97e7-ad43cec7c9d2",
              "endpoint": "hm4kihleqcae3ljgp3reucweo4-k4fukxfyx7de7m2m437estqsye.datawarehouse.fabric.microsoft.com",
              "workspaceId": "5c450b57-bfb8-4fc6-b34c-e6fe494e12c1"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Check if Table Exists",
        "dependsOn": []
      },
      {
        "type": "IfCondition",
        "typeProperties": {
          "expression": {
            "value": "@equals(activity('Check if Table Exists').output.resultSets[0].rows[0].TableExists, 1)",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "type": "SqlServerStoredProcedure",
              "typeProperties": {
                "storedProcedureName": "[MonaOnPrem].[sp_Upsert_ODS]",
                "storedProcedureParameters": {
                  "ODSTableName": {
                    "value": {
                      "value": "@concat(pipeline().parameters.TableName, '__ODS')",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "SchemaName": {
                    "value": {
                      "value": "@pipeline().parameters.DestinationSchema",
                      "type": "Expression"
                    },
                    "type": "String"
                  },
                  "StagingTableName": {
                    "value": {
                      "value": "@concat(pipeline().parameters.TableName, '__STG')",
                      "type": "Expression"
                    },
                    "type": "String"
                  }
                }
              },
              "linkedService": {
                "name": "OSS_MonaConso_MHQ_Warehouse",
                "properties": {
                  "type": "DataWarehouse",
                  "typeProperties": {
                    "artifactId": "1c7cc4d3-d8ad-438c-97e7-ad43cec7c9d2",
                    "endpoint": "hm4kihleqcae3ljgp3reucweo4-k4fukxfyx7de7m2m437estqsye.datawarehouse.fabric.microsoft.com",
                    "workspaceId": "5c450b57-bfb8-4fc6-b34c-e6fe494e12c1"
                  },
                  "annotations": []
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Upsert from STG to ODS Table",
              "state": "Inactive",
              "onInactiveMarkAs": "Succeeded",
              "dependsOn": []
            },
            {
              "type": "Script",
              "typeProperties": {
                "scripts": [
                  {
                    "text": {
                      "value": "INSERT INTO  @{pipeline().parameters.DestinationSchema}.@{pipeline().parameters.TableName}__ODS \nSELECT * FROM\n@{pipeline().parameters.DestinationSchema}.@{pipeline().parameters.TableName}__STG\nWHERE ODSRecordStatus IN ('N', 'C');",
                      "type": "Expression"
                    },
                    "type": "Query"
                  }
                ],
                "scriptBlockExecutionTimeout": "02:00:00"
              },
              "linkedService": {
                "name": "OSS_MonaConso_MHQ_Warehouse",
                "properties": {
                  "type": "DataWarehouse",
                  "typeProperties": {
                    "artifactId": "1c7cc4d3-d8ad-438c-97e7-ad43cec7c9d2",
                    "endpoint": "hm4kihleqcae3ljgp3reucweo4-k4fukxfyx7de7m2m437estqsye.datawarehouse.fabric.microsoft.com",
                    "workspaceId": "5c450b57-bfb8-4fc6-b34c-e6fe494e12c1"
                  },
                  "annotations": []
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Insert New and Changed Rows",
              "dependsOn": [
                {
                  "activity": "Check for Deleted Rows",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "Script",
              "typeProperties": {
                "scripts": [
                  {
                    "text": {
                      "value": "UPDATE stg\nSET stg.ODSRecordStatus = 'N'\nFROM \n@{pipeline().parameters.DestinationSchema}.@{pipeline().parameters.TableName}__STG stg\nLEFT JOIN \n@{pipeline().parameters.DestinationSchema}.@{pipeline().parameters.TableName}__ODS ods\nON stg.ODSKey = ods.ODSKey \nWHERE ods.ODSKey IS NULL;",
                      "type": "Expression"
                    },
                    "type": "Query"
                  }
                ],
                "scriptBlockExecutionTimeout": "02:00:00"
              },
              "linkedService": {
                "name": "OSS_MonaConso_MHQ_Warehouse",
                "properties": {
                  "type": "DataWarehouse",
                  "typeProperties": {
                    "artifactId": "1c7cc4d3-d8ad-438c-97e7-ad43cec7c9d2",
                    "endpoint": "hm4kihleqcae3ljgp3reucweo4-k4fukxfyx7de7m2m437estqsye.datawarehouse.fabric.microsoft.com",
                    "workspaceId": "5c450b57-bfb8-4fc6-b34c-e6fe494e12c1"
                  },
                  "annotations": []
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Check for New Rows",
              "description": "",
              "dependsOn": []
            },
            {
              "type": "Script",
              "typeProperties": {
                "scripts": [
                  {
                    "text": {
                      "value": "UPDATE stg\nSET stg.ODSRecordStatus = 'C',\n    stg.ODSVersion = ods.MaxODSVersion + 1\nFROM \n@{pipeline().parameters.DestinationSchema}.@{pipeline().parameters.TableName}__STG stg\nCROSS APPLY (\n    SELECT TOP 1 \n        o.ODSHash,\n        o.ODSKey,\n        o.ODSVersion AS MaxODSVersion\n    FROM \n@{pipeline().parameters.DestinationSchema}.@{pipeline().parameters.TableName}__ODS AS o\n    WHERE \n        o.ODSKey      = stg.ODSKey      -- per-row join\n        AND o.ODSActive  = 1\n        AND o.ODSDeleted = 0\n    ORDER BY o.ODSVersion DESC          -- most recent active record\n) AS ods\nWHERE stg.ODSHash <> ods.ODSHash\nAND ods.ODSKey  = stg.ODSKey ;",
                      "type": "Expression"
                    },
                    "type": "Query"
                  }
                ],
                "scriptBlockExecutionTimeout": "02:00:00"
              },
              "linkedService": {
                "name": "OSS_MonaConso_MHQ_Warehouse",
                "properties": {
                  "type": "DataWarehouse",
                  "typeProperties": {
                    "artifactId": "1c7cc4d3-d8ad-438c-97e7-ad43cec7c9d2",
                    "endpoint": "hm4kihleqcae3ljgp3reucweo4-k4fukxfyx7de7m2m437estqsye.datawarehouse.fabric.microsoft.com",
                    "workspaceId": "5c450b57-bfb8-4fc6-b34c-e6fe494e12c1"
                  },
                  "annotations": []
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Check for Changed Rows",
              "dependsOn": [
                {
                  "activity": "Check for New Rows",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "Script",
              "typeProperties": {
                "scripts": [
                  {
                    "text": {
                      "value": "IF EXISTS (\n    SELECT 1\n    FROM \n@{pipeline().parameters.DestinationSchema}.@{pipeline().parameters.TableName}__STG \n    WHERE ODSRecordStatus = 'C'\n)\nBEGIN\n    UPDATE ods\n    SET ods.ODSActive = 0,\n        ods.ODSEndDate = CAST(GETDATE() AS DATE)\n    FROM \n@{pipeline().parameters.DestinationSchema}.@{pipeline().parameters.TableName}__ODS ods\n    INNER JOIN \n@{pipeline().parameters.DestinationSchema}.@{pipeline().parameters.TableName}__STG stg\n        ON stg.ODSKey = ods.ODSKey\n    WHERE stg.ODSRecordStatus = 'C' AND ods.ODSActive = 1;\nEND",
                      "type": "Expression"
                    },
                    "type": "Query"
                  }
                ],
                "scriptBlockExecutionTimeout": "02:00:00"
              },
              "linkedService": {
                "name": "OSS_MonaConso_MHQ_Warehouse",
                "properties": {
                  "type": "DataWarehouse",
                  "typeProperties": {
                    "artifactId": "1c7cc4d3-d8ad-438c-97e7-ad43cec7c9d2",
                    "endpoint": "hm4kihleqcae3ljgp3reucweo4-k4fukxfyx7de7m2m437estqsye.datawarehouse.fabric.microsoft.com",
                    "workspaceId": "5c450b57-bfb8-4fc6-b34c-e6fe494e12c1"
                  },
                  "annotations": []
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "If Changed Exists",
              "dependsOn": [
                {
                  "activity": "Check for Changed Rows",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "Script",
              "typeProperties": {
                "scripts": [
                  {
                    "text": {
                      "value": "UPDATE stg\nSET stg.ODSRecordStatus = 'E'\nFROM \n@{pipeline().parameters.DestinationSchema}.@{pipeline().parameters.TableName}__STG stg\nINNER JOIN \n@{pipeline().parameters.DestinationSchema}.@{pipeline().parameters.TableName}__ODS ods\n    ON stg.ODSKey = ods.ODSKey\nWHERE stg.ODSHash = ods.ODSHash;",
                      "type": "Expression"
                    },
                    "type": "Query"
                  }
                ],
                "scriptBlockExecutionTimeout": "02:00:00"
              },
              "linkedService": {
                "name": "OSS_MonaConso_MHQ_Warehouse",
                "properties": {
                  "type": "DataWarehouse",
                  "typeProperties": {
                    "artifactId": "1c7cc4d3-d8ad-438c-97e7-ad43cec7c9d2",
                    "endpoint": "hm4kihleqcae3ljgp3reucweo4-k4fukxfyx7de7m2m437estqsye.datawarehouse.fabric.microsoft.com",
                    "workspaceId": "5c450b57-bfb8-4fc6-b34c-e6fe494e12c1"
                  },
                  "annotations": []
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Mark as Existing",
              "dependsOn": [
                {
                  "activity": "If Changed Exists",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "Script",
              "typeProperties": {
                "scripts": [
                  {
                    "text": {
                      "value": "UPDATE ods\nSET \n    ods.ODSDeleted = 1,\n    ods.ODSActive = 0,\n    ods.ODSRecordStatus = 'D',\n    ods.ODSEndDate = CAST(GETDATE() AS DATE)\nFROM @{pipeline().parameters.DestinationSchema}.@{pipeline().parameters.TableName}__ODS ods\nLEFT JOIN @{pipeline().parameters.DestinationSchema}.@{pipeline().parameters.TableName}__STG stg\n    ON ods.ODSKey = stg.ODSKey    \nWHERE stg.ODSKey IS NULL\nAND ods.ODSActive = 1\nAND ods.ODSDeleted = 0\nAND (\n    -- Case 1: This month (always valid)\n    (ods.ODSConsoYear = YEAR(GETDATE()) \n    AND ods.ODSConsoMonth = MONTH(GETDATE()))\n        \n    -- Case 2: Last month, same year (Feb–Dec)\n    OR (ods.ODSConsoYear = YEAR(GETDATE()) \n        AND ods.ODSConsoMonth = MONTH(GETDATE()) - 1\n        AND MONTH(GETDATE()) > 1)\n    \n    -- Case 3: January → include December of previous year\n    OR (ods.ODSConsoYear = YEAR(DATEADD(MONTH, -1, GETDATE()))\n    AND ods.ODSConsoMonth = MONTH(DATEADD(MONTH, -1, GETDATE())))\n)",
                      "type": "Expression"
                    },
                    "type": "Query"
                  }
                ],
                "scriptBlockExecutionTimeout": "02:00:00"
              },
              "linkedService": {
                "name": "OSS_MonaConso_MHQ_Warehouse",
                "properties": {
                  "type": "DataWarehouse",
                  "typeProperties": {
                    "artifactId": "1c7cc4d3-d8ad-438c-97e7-ad43cec7c9d2",
                    "endpoint": "hm4kihleqcae3ljgp3reucweo4-k4fukxfyx7de7m2m437estqsye.datawarehouse.fabric.microsoft.com",
                    "workspaceId": "5c450b57-bfb8-4fc6-b34c-e6fe494e12c1"
                  },
                  "annotations": []
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Check for Deleted Rows",
              "dependsOn": [
                {
                  "activity": "Mark as Existing",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            }
          ],
          "ifFalseActivities": [
            {
              "type": "Copy",
              "typeProperties": {
                "source": {
                  "type": "DataWarehouseSource",
                  "partitionOption": "None",
                  "queryTimeout": "02:00:00",
                  "datasetSettings": {
                    "type": "DataWarehouseTable",
                    "typeProperties": {
                      "schema": {
                        "value": "@pipeline().parameters.DestinationSchema",
                        "type": "Expression"
                      },
                      "table": {
                        "value": "@concat(pipeline().parameters.TableName, '__STG')",
                        "type": "Expression"
                      }
                    },
                    "schema": [],
                    "linkedService": {
                      "name": "OSS_MonaConso_MHQ_Warehouse",
                      "properties": {
                        "type": "DataWarehouse",
                        "typeProperties": {
                          "artifactId": "1c7cc4d3-d8ad-438c-97e7-ad43cec7c9d2",
                          "endpoint": "hm4kihleqcae3ljgp3reucweo4-k4fukxfyx7de7m2m437estqsye.datawarehouse.fabric.microsoft.com",
                          "workspaceId": "5c450b57-bfb8-4fc6-b34c-e6fe494e12c1"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "sink": {
                  "type": "DataWarehouseSink",
                  "tableOption": "autoCreate",
                  "preCopyScript": {
                    "value": "@concat('DROP TABLE IF EXISTS ', pipeline().parameters.DestinationSchema, '.', pipeline().parameters.TableName, '__ODS')",
                    "type": "Expression"
                  },
                  "allowCopyCommand": true,
                  "copyCommandSettings": {},
                  "datasetSettings": {
                    "type": "DataWarehouseTable",
                    "typeProperties": {
                      "schema": {
                        "value": "@pipeline().parameters.DestinationSchema",
                        "type": "Expression"
                      },
                      "table": {
                        "value": "@concat(pipeline().parameters.TableName, '__ODS')",
                        "type": "Expression"
                      }
                    },
                    "schema": [],
                    "linkedService": {
                      "name": "OSS_MonaConso_MHQ_Warehouse",
                      "properties": {
                        "type": "DataWarehouse",
                        "typeProperties": {
                          "artifactId": "1c7cc4d3-d8ad-438c-97e7-ad43cec7c9d2",
                          "endpoint": "hm4kihleqcae3ljgp3reucweo4-k4fukxfyx7de7m2m437estqsye.datawarehouse.fabric.microsoft.com",
                          "workspaceId": "5c450b57-bfb8-4fc6-b34c-e6fe494e12c1"
                        },
                        "annotations": []
                      }
                    },
                    "annotations": []
                  }
                },
                "translator": {
                  "type": "TabularTranslator",
                  "typeConversion": true,
                  "typeConversionSettings": {
                    "allowDataTruncation": true,
                    "treatBooleanAsNumber": false
                  }
                },
                "enableStaging": true
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "Full Copy from STG to ODS",
              "dependsOn": []
            }
          ]
        },
        "name": "If Table Exists",
        "dependsOn": [
          {
            "activity": "Run HashKey Query",
            "dependencyConditions": [
              "Succeeded"
            ]
          },
          {
            "activity": "Check if Table Exists",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Script",
        "typeProperties": {
          "scripts": [
            {
              "text": {
                "value": "TRUNCATE TABLE @{pipeline().parameters.DestinationSchema}.@{pipeline().parameters.TableName}__STG",
                "type": "Expression"
              },
              "type": "Query"
            }
          ],
          "scriptBlockExecutionTimeout": "02:00:00"
        },
        "linkedService": {
          "name": "OSS_MonaConso_MHQ_Warehouse",
          "properties": {
            "type": "DataWarehouse",
            "typeProperties": {
              "artifactId": "1c7cc4d3-d8ad-438c-97e7-ad43cec7c9d2",
              "endpoint": "hm4kihleqcae3ljgp3reucweo4-k4fukxfyx7de7m2m437estqsye.datawarehouse.fabric.microsoft.com",
              "workspaceId": "5c450b57-bfb8-4fc6-b34c-e6fe494e12c1"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Truncate STG table",
        "dependsOn": [
          {
            "activity": "If Table Exists",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Script",
        "typeProperties": {
          "scripts": [
            {
              "text": {
                "value": "CREATE VIEW  @{pipeline().parameters.DestinationSchema}.vw_@{pipeline().parameters.TableName} AS\nSELECT @{activity('LookUp hashing columns').output}\nFROM @{pipeline().parameters.DestinationSchema}.@{pipeline().parameters.TableName}_ODS\nWHERE condition;",
                "type": "Expression"
              },
              "type": "Query"
            }
          ],
          "scriptBlockExecutionTimeout": "02:00:00"
        },
        "linkedService": {
          "name": "OSS_MonaConso_MHQ_Warehouse",
          "properties": {
            "type": "DataWarehouse",
            "typeProperties": {
              "artifactId": "1c7cc4d3-d8ad-438c-97e7-ad43cec7c9d2",
              "endpoint": "hm4kihleqcae3ljgp3reucweo4-k4fukxfyx7de7m2m437estqsye.datawarehouse.fabric.microsoft.com",
              "workspaceId": "5c450b57-bfb8-4fc6-b34c-e6fe494e12c1"
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Create views",
        "state": "Inactive",
        "onInactiveMarkAs": "Succeeded",
        "dependsOn": [
          {
            "activity": "If Table Exists",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ],
    "parameters": {
      "TableName": {
        "type": "string",
        "defaultValue": "V_DATA_CONSO"
      },
      "DestinationSchema": {
        "type": "string",
        "defaultValue": "Test"
      }
    }
  }
}