data.backbone/fabric/archive/transformation_pipeline.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "f7d8c4f1-733d-aa9c-4261-83581948ca97",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "environment": {
              "value": {
                "value": "@variables('environment')",
                "type": "Expression"
              },
              "type": "string"
            },
            "models": {
              "value": "+dds_finance",
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 3,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "transformation_notebook_dds_finance",
        "dependsOn": [
          {
            "activity": "set_variable_environment",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "DataWarehouseSource",
            "sqlReaderQuery": {
              "value": "SELECT\n    [environment],\n    [workspace_id],\n    [lakehouse_id],\n    [warehouse_id],\n    [sql_connection_string]\nFROM [dbb_warehouse].[meta].[environments]\nWHERE [workspace_id] = '@{pipeline().DataFactory}'",
              "type": "Expression"
            },
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "DataWarehouseTable",
            "schema": [],
            "linkedService": {
              "name": "dbb_warehouse",
              "properties": {
                "type": "DataWarehouse",
                "typeProperties": {
                  "artifactId": "86563906-0212-4c50-9019-45c93eae5671",
                  "endpoint": "hm4kihleqcae3ljgp3reucweo4-yiwtvelil63u7kyhmmniivq72y.datawarehouse.fabric.microsoft.com",
                  "workspaceId": "913a2dc2-5f68-4fb7-ab07-631a84561fd6"
                },
                "annotations": []
              }
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 3,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "lookup_environment_variables",
        "dependsOn": []
      },
      {
        "type": "SetVariable",
        "typeProperties": {
          "variableName": "environment",
          "value": {
            "value": "@toLower(activity('lookup_environment_variables').output.firstRow.environment)",
            "type": "Expression"
          }
        },
        "policy": {
          "secureInput": false,
          "secureOutput": false
        },
        "name": "set_variable_environment",
        "dependsOn": [
          {
            "activity": "lookup_environment_variables",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "573b7d28-ed16-a5ad-4001-ebba8207c068",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "workspace": {
              "value": {
                "value": "@pipeline().DataFactory",
                "type": "Expression"
              },
              "type": "string"
            },
            "status": {
              "value": {
                "value": "@activity('transformation_notebook_dds_finance').output.status",
                "type": "Expression"
              },
              "type": "string"
            },
            "duration": {
              "value": {
                "value": "@activity('transformation_notebook_dds_finance').output.executionDuration",
                "type": "Expression"
              },
              "type": "string"
            },
            "pool_id": {
              "value": {
                "value": "@activity('transformation_notebook_dds_finance').output.result.sparkPool",
                "type": "Expression"
              },
              "type": "string"
            },
            "session_id": {
              "value": {
                "value": "@activity('transformation_notebook_dds_finance').output.result.sessionId",
                "type": "Expression"
              },
              "type": "string"
            },
            "run_id": {
              "value": {
                "value": "@activity('transformation_notebook_dds_finance').output.result.runId",
                "type": "Expression"
              },
              "type": "string"
            },
            "message": {
              "value": {
                "value": "@activity('transformation_notebook_dds_finance').output.message",
                "type": "Expression"
              },
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 3,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "monitoring_notebook_transformation_UC1",
        "dependsOn": [
          {
            "activity": "transformation_notebook_dds_finance",
            "dependencyConditions": [
              "Completed"
            ]
          }
        ]
      }
    ],
    "variables": {
      "environment": {
        "type": "String"
      }
    }
  }
}